@use "../global/variables" as *;
@use "../global/mixins" as *;

.btn-icon {
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  outline: none;
  color: $color-black-russian;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: lighten($color-black-russian, 10%);
  }

  &:focus-visible {
    outline: 1px solid lighten($color-black-russian, 10%);
    outline-offset: 1px;
    border-radius: 4px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &--light {
    color: $color-mischka;
  }
}